@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Romanian Mail Service</h1>
    <p>A web application for management of post operations inside Romania.</p>
</div>
